.image{
  background:black;
  width:100px;
  height:100px;
  margin: 5px;
}

.button-fridge{
  clear: left;
}

.title-Fridge{
  margin-top: 12px;

  font-size:25px;
  font:Nunito;
  font-weight:bold;
  width:400px;
  text-align: center;
}

.pompt{
  margin-top: 20px;
  width:400px;
  text-align: center;
  font-size: 17px;

  font: Nunito;
}

.images-Fridge{
  width:370px;
  height:300px;
  margin:20px 15px 0 15px;
}

.description{
  width:155px;
  margin: 0;
  padding: 0;
  
  font: Nunito;
  color: grey;
}
